{% extends 'base.html.twig' %}

{% block title %}Liste des Animes{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
{% endblock %}

{% block body %}
{# NAV #}
{{ render(controller('App\\Controller\\AnimeSearchController::view')) }}

<div class="main">
    {# SIDE NAV #}
    <div class="nav--left--fixed">
        <div class="nav--panel first-panel">
            <a href="" class="nav--item nav--actif">
                <div class="icon">
                    <i class="fa-solid fa-house"></i>
                </div>
                <div class="nav--li">Accueil</div>
            </a>

            <label for="recherche" id="searchButton">
                <div class="nav--item nav--actif">
                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="nav--li">Rechercher</div>
                </div>
            </label>

            {% if is_granted('ROLE_USER') %}
            <a class="nav--item nav--actif" href="{{ path('app_accueil') }}">
                <div class="icon">
                    <i class="fa-solid fa-user-ninja"></i>
                </div>
                <div class="nav--li">Ma collection</div>
            </a>
            <a class="nav--item nav--actif" href="{{ path('app_logout') }}">
                <div class="icon">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </div>
                <div class="nav--li">Deconnexion</div>
            </a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav--item nav--actif" href="{{ path('app_accueil') }}">
                <div class="icon">
                    <i class="fa-solid fa-chart-pie"></i>
                </div>
                <div class="nav--li">Statistiques</div>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{# CARD  #}
<div class="anime--list--container">
    <div class="intro">
        <div class="text">
            <h1>Bienvenue sur Korishow</h1>
            <p class="text--p">
                Votre plateforme idéale pour suivre et organiser vos séries anime favorites.
                Découvrez, planifiez et restez à jour avec les dernières sorties et les grands classiques. Créez votre watchlist personnalisée.
                Lancez-vous et enrichissez votre expérience anime dès aujourd'hui !
            </p>
        </div>
        <img class="intro--image" src="/assets/images/840_560.jpeg">
    </div>

    <div class="container-fluid mt-4">
        <a>
            <h2 class="card--toptitle">Animes à découvrir</h2>
        </a>
        <div class="scrolling-wrapper row flex-row flex-nowrap">
            {% for anime in animes %}
            <a href="anime/{{ anime.id }}">
                <div class="col-6 col-md-2 mb-4">
                    <div class="card">
                        <img src="{{ anime.image }}" class="card-img-top" alt="{{ anime.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ anime.title }}</h5>
                        </div>
                    </div>
                </div>
            </a>
            {% else %}
            <div class="col">
                <p>Aucun anime trouvé.</p>
            </div>
            {% endfor %}
        </div>

        {# TOP 15 #}
        <div>
            <a>
                <h2 class="card--toptitle">Animes récemment ajoutés</h2>
            </a>
            <div class="recent--list">
                {% for anime in recent_updates %}
                <div class="recent--card">
                    <a href="anime/{{ anime.id }}" class="card-link">
                        <img src="{{ anime.image }}" class="recent--image" alt="{{ anime.title }}">
                        <div class="card--details">
                            <span class="recent--title">{{ anime.title }}</span>
                        </div>
                    </a>
                </div>
                {% else %}
                <div class="col">
                    <p>Aucun anime trouvé.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
